/* CSS files add styling rules to your content */

body {
    font-family: "Blippo", fantasy;
    margin: 2em;
    font-size: 18px;
    background-image: url("https://i.ytimg.com/vi/DgtXWjd3H5s/maxresdefault.jpg");
    background-size: cover;
    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: multiply;
  
  }
  
  h1 {
    /*font-style: italic;*/
    color: #1e2dff;
  }
  
  .conteudo {
    padding-top: 20px;
    border-radius: 3em;
    box-shadow: 3px 5px rgba(0, 247, 255, 0.699);
    background-color: #ffffffec;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 25vh;
    padding-bottom: 20px;
    
  
  }
  
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
  }
  
  li {
    padding: 20px;
  }
  
  #listaRespostas {
    display: none;
  }
  
  button {
    font-style: italic;
    border: 1;
    border-radius: 5em;
    background-color: rgb(168, 255, 207);
    padding: 10px 20px 10px;
    font-size: 18pt;
  }
  
  button:hover {
    background-color: rgb(104, 255, 129);
  }